.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 180px;
  background-image: url('@img/leav_foto.png');
  background-repeat: no-repeat;
  background-position: bottom -133px right;

  &__title {
    margin-left: -12px;
    margin-bottom: 60px;
    font-size: 36px;
    color: #333B41;
    font-weight: 400;
  }

  &__cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1157px;
    overflow: hidden;
    padding: 4px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-left: -9px;
    width: 1143px; //1157
    margin-bottom: 13px;
    transition: margin-left 1s;
  }

  &__wr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 268px;
    // height: 390px;
    border-radius: 20px;
    background: linear-gradient(to left, rgba(254, 189, 171, 0.74) 6.48%, rgba(243, 169, 248, 0.66) 22.51%, #E0D8F0 45.57%, #EAF7FE 82.33%, #EAF7FE 99.1%);
    margin-right: 2.7%;
    // &:nth-child(3) {
    //   display: none;
    // }


    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      border-radius: 20px;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: linear-gradient(to right bottom, rgba(254, 189, 171, 0.74) 6.48%, rgba(243, 169, 248, 0.66) 22.51%, #E0D8F0 45.57%, #EAF7FE 82.33%, #EAF7FE 99.1%);
    }
  }

  &__item {
    position: relative;
    width: 264px;
    height: 389px;
    margin: 0;
    padding-left: 14px;
    padding-top: 13px;
    padding-right: 14px;
    background-color: #F1F3F2;
    border-radius: 20px;
  }

  &__wrapper {
    margin-top: -3px;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    color: #BDBDBD;
  }

  &__container {
    display: flex;
    margin-bottom: 5px;
  }

  &__inner {
    margin-top: -1px;
  }

  &__author-picture {
    margin: 0;
    margin-right: 9px;
  }

  &__author-img {
    border-radius: 50%;

  }

  &__author-name {
    color: black;
    font-style: normal;
  }

  &__address {
    position: relative;
    margin-right: 18px;
    font-style: normal;

    &::before {
      content: '';
      position: absolute;
      right: -11px;
      top: 10px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #BDBDBD;
    }
  }

  &__text {
    margin: 0;
    color: #767474;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;

  }

  &__text-wrapper {
    width: 100%;
    height: 320px;
    overflow: hidden;
  }

  &__button {
    border: none;
    border-radius: 5px;
    color: white;
    border-radius: 5px;
    align-self: flex-start;
    margin-left: -7px;
  }

  &__popup {
    &--d-none {
      display: none;
    }
  }
}

@media(max-width: 1220px) {
  .testimonials {
    padding-bottom: 140px;
    background-size: 20%;
    background-position: bottom -91px right 3px;

    &__title {
      margin-left: -6px;
      margin-bottom: 43px;
    }

    &__cover {
      flex-wrap: wrap;
      width: 938px;
    }

    &__wrap {
      width: 928px; //938
      margin-left: -7px;
      margin-bottom: 13px;
    }

    &__wr {
      // width: 294px;
      // height: 390px;

      // &:nth-child(2),
      // &:nth-child(5) {
      //   display: none;
      // }

      // &:nth-child(3) {
      //   display: block;
      // }
    }

    &__item {
      width: 291px;
      height: 387px;
      padding-right: 26px;
    }

    &__button {
      margin-left: -4px;
    }
  }
}

@media(max-width: 970px) {
  .testimonials {
    padding-bottom: 80px;
    background-size: 21.1%;
    background-position: bottom -85px right -13px;

    &__title {
      margin-left: -4px;
      margin-bottom: 44px;
    }

    &__wrap {
      width: 93.8%;
      margin-left: 0;
      flex-direction: column;
      overflow: hidden;
      height: 361px;
      padding: 2px;
    }

    &__cover {
      width: 100%;
    }

    &__wr {
      width: 100%;
      // height: 108px;
      margin-bottom: 18px;
    }

    &__item {
      width: 100%;
      height: 105px;

      border-radius: 18px;
      overflow: hidden
    }

    &__wrap {
      margin-bottom: 0px;
    }

    &__button {
      align-self: center;
      width: 240px;
      margin-top: -19px;
      margin-left: 0;
    }

    &__popup {
      position: fixed;
      z-index: 1;
      width: 267px;
      height: 391px;
      margin-top: -200px;
      margin-left: -132px;
      top: 50%;
      left: 50%;

      &--item {
        width: 267px;
        height: 391px;
      }

      &--d-none {
        display: none;
      }

      &--close {
        z-index: 1;
        position: absolute;
        right: -35px;
        top: -25px;
        width: 40px;
        height: 40px;
        font-size: 0;
        border: none;
        background-color: transparent;

        &:hover::before,
        &:hover::after{
          background: #E47209;
        }
        
        &:active::before,
        &:active::after{
          background: #4B9200;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 18px;
          left: 12px;
          width: 15px;
          height: 2px;
          background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media(max-width: 320px) {
  .testimonials {
    padding-bottom: 60px;
    background-image: url('@img/leav_foto-mobile.png');
    background-size: auto;
    background-position: bottom -30px right;

    &__title {
      margin-left: 0px;
      margin-bottom: 25px;
      font-size: 24px;
    }

    &__wr:not(:last-child) {
      margin-bottom: 19px;
    }

    &__button {
      align-self: center;
      width: 75%;
      margin-top: -34.5px;
    }

  }
}