.for-friend {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 180px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  }

  width: 1171px;
  padding-top: 53px;

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 21px;
  }

  &__text {
    width: 1150px;
    margin-bottom: 46px;
    font-weight: 400;
    line-height: 140%;
  }

  &__info-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
  }
}

@media(max-width: 1200px) {
  .for-friend {
    width: 94.4%; //945.5
    padding-top: 41px;

    &__wrapper {
      padding-bottom: 29px;
    }

    &__title {
      width: 80%;
      margin-bottom: 29px;
      line-height: 130%;
    }

    &__text {
      width: 99%; // 98.4%
      margin-bottom: 47px;
      letter-spacing: 0.06px;
    }
  }
}

@media(max-width: 640px) {
  .for-friend {
    padding-top: 31px;
    width: 93.8%;

    &__wrapper {
      padding-bottom: 46px;
    }

    &__title {
      width: 95%;
      margin-bottom: 19px;
      font-size: 24px;
      line-height: 120%;
    }

    &__text {
      width: 100%;
      margin-bottom: 28px;
    }
  }
}

@media(max-width: 500px) {
  .for-friend {

    &__wrapper {
      padding-bottom: 21px;
    }

    &__text {
      margin-bottom: 29px;
      line-height: 138%;
    }
    
    &__info-title {
      font-size: 24px;

    }
  }
}